<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          <a href="{{ site.sections.portfolio_url }}" class="btn">Portfolio</a>
          <a href="{{ site.sections.about_url }}" class="btn">About Me</a>
          <a href="{{ site.sections.cv_url }}" class="btn">Curriculum Vitae</a>
          <a href="{{ site.sections.course_url }}" class="btn">My Course</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>


    <header>
    </header>
    <div class="container">
      <section id="footer">
        <a href="{{ page.annotation-link }}" class="btn">Annotated Mark-Up for This Page</a>
      </section>
    </div>
  </body>
</html>
